<!DOCTYPE html>
<html>
  <head>
<meta charset="UTF-8">
  <meta name="description" content="🚀 The upcoming future of bots for users, without a price!">
  <meta name="keywords" content="Bot Maker">
  <meta name="author" content="Developer Tech Creator">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="icon" type="src/image/png" href="https://cdn.discordapp.com/attachments/931650810885062686/951646669961822238/output-onlinepngtools_1.png">
<link rel="stylesheet" href="css/index.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet"> 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<title><% if(title) { %><%= title %> -<% } %> Developer Tech Manager | Admin-Panel</title>
</head>